.all{
    display:flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}
.lamp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
.lamp.active {
    background-color: red;
}
.btn{
    width: 50px;
    height: 20px;
    margin-top: 10px;
    border: 1px solid black;
    cursor: pointer;
}
.btn.active{
    background-color: green;
}
.btn_all{
    width: 80px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
}
.btn_all.active{
    background-color: green;
}